  <div class="error-message">
    <img src="images/screensize.png" alt="screen is not big enough">
    <h2>Je scherm is te klein</h2>
    <p>AccessDash vereist een minimale schermbreedte van 900px</p>
  </div>