<%- include('./partials/head') %>

<main>
    <ul>
        <% scanSite.forEach(scanSite => { %>
            <li>
                <a href="/<%= scanSite.title %>"><%= scanSite.title %></a>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('./partials/foot') %>
