* {
    box-sizing: border-box;
}

:root {
    --border-radius-sections: 0.5em;
    --border-radius-blocks: 0.25em;
    --box-shadow-sections: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --font-color: #5D666A;
    --background-color: #F0F0F0;
    --main-font: Outfit;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    padding: 1em;
}

h1 {
    display: flex;
    flex-direction: column;

    font-size: 1.5em;
    color: var(--font-color);

    span {
        font-size: 0.75em;
    }
}

h1, h2, h3, p {
    color: var(--font-color);
}

ul {
    padding: 0;
}

li {
    padding: 0;
    list-style-type: '';
}

a {
    text-decoration: none;
    color: var(--font-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background-color: white;
    border-radius: var(--border-radius-sections);
    box-shadow: var(--box-shadow-sections);
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: none;

    & .carousel-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        gap: 0.5em;

        & a, p {
            background-color: white;
            padding: 0.5em 1em;
            margin: 0;

            border-radius: var(--border-radius-blocks);
            box-shadow: var(--box-shadow-sections);
            font-weight: bolder;
        }

        p {
            width: 8em;
            text-align: center;
        }
    }
}

.result {
    display: flex;
    flex-direction: row;
    padding: 0;

    & h2, p {
        margin: 25px;
    }

    h2 {
        font-size: 36px;
    }

    p {
        font-size: 20px;
    }
}

.doughnut-chart {
    height: fit-content;
    width: fit-content;
}

#doughnut-chart {
    scale: 0.6;
}

.blocks {
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;

    background-color: var(--background-color);

    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0;
    }

    li {
        width: 30vw;
        height: auto;
        padding: 1em;

        background-color: white;
        border-radius: var(--border-radius-sections);
        box-shadow: var(--box-shadow-sections);

        & p {
            margin: 0;
        }

        .blocks-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 1em 0;

            & p {
                font-size: 2em;
                font-weight: bolder;
                margin: 0;
            }
        }
    }
}