@font-face {
    font-family: 'Nunito';
    src: url("../assets/fonts/Nunito-Regular.ttf");
}

:root {
    --regular-font: 'Nunito', arial, sans-serif;

    --greyscale-color-dark: #120B11;
    --greyscale-color-grey: #302A2F;
    --greyscale-color-light-grey: #736f72;
    --greyscale-color-white: #eaeaea;
    --color-green: #B9FFB7;
    --color-orange: #FF7535;
    --color-purple: #5E43FF;

    --active-color: var(--color-purple);
    --hyperlink-color: var(--color-purple);
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--regular-font);
    color:var(--greyscale-color-dark);
}

main {
    background: var(--greyscale-color-light-grey);
    padding: 1em
}

header {
    background-color: var(--greyscale-color-grey);
    padding: 1em;
    display: flex;
    align-items: center;
}

ol {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    unicode-bidi: isolate;
}

.charts {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    align-items: center;
}

.charts li {
    --regular-background-radius: 3em;
    --mobile-min-width-chart: 20em;
    --mobile-max-width-chart: 40em;

    background-color: var(--greyscale-color-white);
    padding: 1em;
    border-radius: var(--regular-background-radius);
    width: 40em;
    height: 40em;
}

.charts li h2 {
    font-size: 2em;
    text-align: center;
}
.charts li .charts-description {
    opacity: 70%;
}
